html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#navbar {
  margin-bottom: 4vh;
}

#navbar > a {
  margin-left: 3vh;
  font-size: x-large;
  font-weight: bold;
}

#navbar > div a {
  margin-left: 4vh;
  font-size: large;
}

#navbar > button {
  margin-right: 2vh;
}

* {
  box-sizing: border-box;
}
